.location {
    
    padding: 70px 0px;

    &__row {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

//.card-location {
//    margin-right: 20px;
//}