.slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    li {
        list-style: none;
        margin: 0 3px;
    }
    .slick-active {

        button {
            font-size: 0;
            background: #C9453B;
            opacity: 1;
            border-radius: 10px;
            width: 75px;
            height: 5px;
        }
    }  
    button {
        font-size: 0;
        background: #C9453B;
        opacity: 0.1;
        border-radius: 10px;
        width: 75px;
        height: 5px;
    } 
}

.slick-list {
	overflow: hidden;
}
.slick-track{
    display: flex;
    align-items: flex-start;
}